include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .section-block
        section.section-one 
          header.header
            .header__logo 
              .logo BA

            nav.nav 
              -var menu = ["Главная","Обо мне","Навыки","Работы","Отзывы","Связатся"];
              ul.nav__list 
                each item in menu
                  li.nav__item 
                    a.nav__list(href="#") #{item}

            .header-social 
              -var icons = ["insta","vk","github"];
              ul.header-socials__list 
                each item in icons
                  li.header-social__item 
                    a.header-social__link
                      +icon(item,"social__icon")
